// Header and hero  backgrounds

.hero-room-background {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;

  background-image: linear-gradient(
    180deg,
    rgba(100, 77, 19, 1) 0%,
    rgba(100, 77, 19, 0.55) 54.17%,
    rgba(100, 77, 19, 0.1) 100%
  );
}

.hero-main-background {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #0e0c07;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/images/hero_backgrounds/hero-main_414.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(/images/hero_backgrounds/hero-main_414x2.jpg);
    }
  }

  @media screen and (min-width: 415px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/images/hero_backgrounds/hero-main_1024.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
          url(/images/hero_backgrounds/hero-main_1024x2.jpg);
      }
    }
  }

  @media screen and (min-width: 1025px) {
    max-width: 1280px;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/images/hero_backgrounds/hero-main_1280.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
          url(/images/hero_backgrounds/hero-main_1280x2.jpg);
      }
    }
  }
}

.hero-restaurant-background {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #0e0c07;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/images/hero_backgrounds/hero-restaurant_414.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(/images/hero_backgrounds/hero-restaurant_414x2.jpg);
    }
  }

  @media screen and (min-width: 415px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/images/hero_backgrounds/hero-restaurant_1024.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
          url(/images/hero_backgrounds/hero-restaurant_1024x2.jpg);
      }
    }
  }

  @media screen and (min-width: 1025px) {
    max-width: 1280px;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/images/hero_backgrounds/hero-restaurant_1280.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
          url(/images/hero_backgrounds/hero-restaurant_1280x2.jpg);
      }
    }
  }
}

.hero-hotel-background {
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  background-color: #0e0c07;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url(/images/hero_backgrounds/hero-hotel_414.jpg);

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    & {
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(/images/hero_backgrounds/hero-hotel_414x2.jpg);
    }
  }

  @media screen and (min-width: 415px) {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/images/hero_backgrounds/hero-hotel_1024.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
          url(/images/hero_backgrounds/hero-hotel_1024x2.jpg);
      }
    }
  }

  @media screen and (min-width: 1025px) {
    max-width: 1280px;

    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url(/images/hero_backgrounds/hero-hotel_1280.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      & {
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
          url(/images/hero_backgrounds/hero-hotel_1280x2.jpg);
      }
    }
  }
}
